* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: rgb(1, 11, 15);
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    height: 15vh;
}

.logo img {
    height: 70px;
    width: auto;
    margin-right: 10px;
    flex-grow: 1;
}

.nombre-logo {
    text-decoration: none;
    color: skyblue;
    flex-grow: 1;
}

#navheader {
    flex-grow: 2;
}
#menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#menu li {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: white;
}

main {
    height: 75vh;
    background-color: skyblue;
    margin: 10px 30px 10px 30px;
}

h2 {
    text-decoration: none;
    color: black;
}
    

.calendario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partido {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.equipo {
    margin-right: 20px;
}

.equipo img {
    width: 100px;
    height: 100px;
}

.contra {
    font-size: 24px;
    font-weight: bold;
}



footer {
    background-color: black;
    height: 10vh;
}