* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 120vh;
    display: grid;
    grid-template-rows: 1fr 4fr 0.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

header {
    background-color: rgb(1, 11, 15);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: header;
}

.logo img {
    height: 75px;
    width: auto;
    margin-right: 10px;
    flex-grow: 1;
}

.nombre-logo {
    text-decoration: none;
    color: skyblue;
    flex-grow: 1;
}

#navheader {
    flex-grow: 2;
}
#menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#menu li {
    list-style-type: none;
    border: 2px solid skyblue;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 2fr 1.5fr;;
    grid-template-areas: 
    "img1 img2" 
    "aside aside"
    ;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-area: main;
    
}

#imagen1 {
    grid-area: img1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#imagen1 img {
    max-width: 100%;
    max-height: 100%;
    
}
    




#imagen2 {
    grid-area: img2;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}


img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    
}



aside {
    background-color: skyblue;
    grid-area: aside;
    text-align: center;
    font-size: larger;
}

footer {
    background-color: black;
    grid-area: footer;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    margin-right: 30px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-nav li {
    margin-right: 20px;
}

.footer-text {
    color: white;
    margin-top: 20px;
    text-align: center;
}


@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 600px) and (orientation: landscape) {
}

@media (max-width: 600px) and (orientation: portrait) {
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
}